html {
    left: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    color: black;
    text-decoration: none;
}

a.bold {
    font-weight: 600;
}

header{
    background-image: url('img/bg1.jpg');
    height: 25%;
    text-align: center;
    position: relative;
}

header img {
    max-height: 75%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.thin-green-line-div {
    height: 4px;
    background-color: #36ff00;
}

.content {
    padding: 20px;
}

.content-image {
    display: inline-block;
    text-align: center;
    margin: 20px 0;
}

.content-image img {
    max-width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 0 20px 0 20px;
}

h1, h2 {
    line-height: 1.2;
}

h1 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-weight: 300;
    font-size: 22px;
    margin: 0;
}

p {
    font-weight: 300;
    font-size: 16px;
}

p span {
    font-weight: 600;
}

.whole-black-card {
    background-image: url("img/bg1.jpg");
    color: white;
}

form {
    margin-top: 35px;
    margin-bottom: 20px;
}

form label {
    font-weight: 300;
}

form input, form select, form select option {
    border: none;
    outline: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 2px;
}

form input {
    padding-left: 5px;
}

form textarea {
    margin-top: 10px;
    width: 100%;
    height: 120px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
    border-radius: 2px;
}

form button {
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 170px;
    font-size: 26px;
    font-weight: 300;
    background-color: #36ff00;
    color: black;
    position: relative;
    top: 65px;
    display: block;
}

#orcamento-forma-contato {
    margin-bottom: 0;
}

#quem-somos {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    padding: 0 35px;
}

#quem-somos img {
    max-height: 100px;
}

#quem-somos h1 {
    margin-bottom: 50px;
}

#quem-somos h2 {
    margin: 0;
}

#quem-somos p {
    font-size: 16px;
    margin-bottom: 40px;
}

::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.accordion-item {
    background: #efefef;
    border-radius: .4rem;
    padding: 1rem;
    margin: 10px 0;
    text-align: left;
}

.accordion-link {
    text-decoration: none;
    color: black;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-link i {
    margin-left: 15px;
}

.accordion-link .fa-chevron-up {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    text-align: left;
    transition: max-height 650ms;
}

.answer::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p {
    font-size: 16px;
}

.accordion-item:target .answer {
    max-height: 20rem;
}

.accordion-item:target .fa-chevron-down {
    display: none;
}

.accordion-item:target .fa-chevron-up {
    display: block;
}

.accordion {
    margin-bottom: 30px;
}

footer{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

footer .content {
    padding: 8px;
}

footer p {
    font-size: 14px;
}

#last-content {
    background-color: #efefef;
}
@media only screen and (min-width: 400px) and (max-width: 767px){
    body {
        text-align: center;
    }

    .content {
        padding: 20px 10%;
    }

    form button {
        display: inline-block;
    }

    form {
        margin-bottom: 80px;
    }

    form input, form select, form select option, form textarea {
        max-width: 400px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .content {
        padding: 20px 15%;
    }

    h1{ 
        font-size: 42px;
    }

    h2 {
        font-size: 26px;
    }

    form input, form select {
        height: 45px;
        max-width: 600px;
    }

    form label {
        font-size: 22px;
    }

    form select, form input {
        font-size: 16px;
    }

    p {
        font-size: 20px;
    }

    
    form textarea {
        font-size: 14px;
        max-width: 600px;
    }
}

@media only screen and (min-width: 1024px) {
    .content {
        padding: 20px 30%;
    }

    h1{ 
        font-size: 44px;
    }

    h2 {
        font-size: 30px;
    }

    form input, form select {
        height: 50px;
        max-width: 600px;
    }

    form textarea {
        max-width: 600px;
    }

    form select, form input {
        font-size: 16px;
    }

    p {
        font-size: 20px;
    }

    form textarea {
        font-size: 16px;
    }
}